* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.logo {
    position: absolute;
    top: 15px;
}

.score {
    height: 45px;
    width: 410px;
    display: flex;
    justify-content: space-around;
    margin-top: -15px;
}
.score .inner {
    position: relative;
    width: 48%;
    background: #313131;
    color: #fff;
    font-weight: bold;
    border-bottom: 4px solid blue;
    border-radius: 8px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}
.score .inner.cross::before {
    content: "";
    background: #fff;
    position: absolute;
    height: 28px;
    width: 4px;
    left: 30px;
    transform: rotate(-45deg)
}
.score .inner.cross::after {
    content: "";
    background: #fff;
    position: absolute;
    height: 28px;
    width: 4px;
    left: 30px;
    transform: rotate(45deg)
}
.score .inner.circle::before {
    content: "";
    background: none;
    position: absolute;
    height: 22px;
    width: 22px;
    border: 4px solid #fff;
    border-radius: 50%;
    left: 25px;
    transform: rotate(-45deg)
}

#turn_indicator {
    font-weight: bold;
    height: 10px;
    margin: 8px 0 -10px 0;
}

.container {
    height: 390px;
    width: 390px;
    position: relative;
    top: 30px;
}
.board {
    height: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
    padding: 1rem;
    background: #313131;
    border-radius: 8px;
    box-shadow: 0px 19px 38px 0px rgba(0, 0, 0, 0.3),
                0px 15px 12px 0px rgba(0,0,0,0.22);
    cursor: pointer;
}

#restart-btn {
    height: 40px;
    width: 100%;
    margin-top: 23px;
    color: #fff;
    background: #5c5c5c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
#restart-btn:hover {
    background: #4b4b4b;
}

.cells {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #5c5c5c;
    position: relative;
}
.cells:hover {
    background: #4b4a4a;
}


.board.circle .cells:not(.circle, .cross):hover::before,
.board .cells.circle::before {
    content: '';
    background: transparent;
    height: 60%;
    width: 60%;
    border-radius: 50%;
    border: 10px solid #fff;
}

.board.cross .cells:not(.circle, .cross):hover::before,
.board.cross .cells:not(.circle, .cross):hover::after,
.cells.cross::before,
.cells.cross::after {
    content: '';
    position: absolute;
    height: 80%;
    width: 10%;
    background-color: red;
}
.board.cross .cells:not(.circle, .cross):hover::before,
.cells.cross::before {
    transform: rotateZ(-45deg);
}
.board.cross .cells:not(.circle, .cross):hover::after,
.cells.cross::after {
    transform: rotateZ(45deg);
}

.board .cells:not(.circle, .cross):hover::before,
.board .cells:not(.circle, .cross):hover::after {
    opacity: .3;
}


.cells.circle,
.cells.cross {
    cursor: not-allowed
}


.search-scrn {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: #fff;
    z-index: 50;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.search-scrn.hide {
    display: none;
}
.search-scrn .container {
    position: relative;
    top: -15px;
    height: 240px;
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.search-scrn .container .inner {
    height: 260px;
    width: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 10;
    /* border: 1px solid red; */
}
.search-scrn .container .inner .player {
    position: relative;
    height: 240px;
    width: 200px;
    border: 2px solid #575757;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.search-scrn .container .inner .player .avatar {
    position: relative;
    height: 110%;
    width: 117%;
}
.search-scrn .container .inner .player .avatar.first {
    animation: search-anime1 .2s linear;
}
.search-scrn .container .inner .player .avatar.anime {
    animation: search-anime2 .4s linear infinite;
}
.search-scrn .container .inner span {
    height: 20px;
    color: blue;
    font-weight: bold;
    font-size: larger;
    margin-top: 10px;
    flex-basis: 30px;
}
.search-scrn .container .inner.anime1 {
    transform: translateX(258px);
}
.search-scrn .container .inner.anime2 {
    transform: translateX(-258px);
}
.search-scrn .container .inner span.name.hide {
    opacity: 0;
}

.search-scrn .container .inner.oppo {
    animation: oppo 1s cubic-bezier(0.46, 0.39, 0.12, 1.36);
}
.search-scrn .container .inner.me{
    animation: me 1s cubic-bezier(0.46, 0.39, 0.12, 1.36);
}


.vs_logo {
    position: relative;
    display: flex;
    align-items: center;
}
.vs_logo img {
    position: absolute;
    width: 100%;
    opacity: 100;
    transition: 1.5s;

}

.vs_logo.hide img {
    opacity: 0;
}

/* Animations */
@keyframes me {
    0% {
        transform: translateX(258px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes oppo {
    0% {
        transform: translateX(-258px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes search-anime1 {
    100% {
        transform: translateY(-200px);
    }
}
@keyframes search-anime2 {
    100% {
        transform: translateY(-400px);
    }
}




/* Loding animation */
:root {
    --main-color: #ecf0f1;
    --point-color: #555;
    --size: 5px;
}
.loader {
    background-color: var(--main-color);
    overflow: hidden;
    top: 0; left: 0;
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center;
    transition: 1s;
    z-index: 100;
}
.loader.hide {
    display: none;
}
.loader__element {
    border-radius: 100%;
    border: var(--size) solid var(--point-color);
    margin: calc(var(--size)*2);
}
.loader__element:nth-child(1) {
    animation: preloader .6s ease-in-out alternate infinite;
}
.loader__element:nth-child(2) {
    animation: preloader .6s ease-in-out alternate .2s infinite;
}
.loader__element:nth-child(3) {
    animation: preloader .6s ease-in-out alternate .4s infinite;
}
@keyframes preloader {
    100% { transform: scale(2); }
}