<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Static Files -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script defer src="/js/main.js"></script>
    <script defer src="/js/socket.js"></script>

    <title>Tic_Tac_Toe</title>
</head>

<body>
    <div class="main">
        <div class="board circle">
            <div class="cells" id="0"></div>
            <div class="cells" id="1"></div>
            <div class="cells" id="2"></div>
            <div class="cells" id="3"></div>
            <div class="cells" id="4"></div>
            <div class="cells" id="5"></div>
            <div class="cells" id="6"></div>
            <div class="cells" id="7"></div>
            <div class="cells" id="8"></div>
        </div>
    </div>


    
</body>

</html>